html, body {
    margin: 0;
    padding: 0;
    user-select: none;
}

textarea:focus, input:focus {
    outline: none;
}

body {
    background-color: #f7f9fa;
    overflow: hidden;
}

.main {
    position: relative;
    overflow-y: scroll;
    height: calc(100vh - 80px)
}

.main::-webkit-scrollbar {
    width: 16px;
}

.main::-webkit-scrollbar-track {
    border: 1px solid #eee;
}

.main::-webkit-scrollbar-thumb {
    background-color: #969FAA;
    outline: 1px solid slategrey;
}

html, a {
    color: #47525E;
}

a:active {
    /*color: #00A6FF !important;*/
}

.list {
    width: 90%;
    margin: 0 auto;
    padding-bottom: 160px;
}

.list .record {
    display: block;
    font-family: 'Fira Sans', sans-serif;
    font-size: 32px;
    color: #47525E;
}

.list .record:hover {
    cursor: pointer;
}

.list .batch-container {
    display: flex;
    justify-content: flex-start;
}

.list .batch-container .column {
    flex-basis: 30%;
}

.detail {
    padding-top: 160px;
    padding-bottom: 160px;
    width: 960px;
    margin: 0 auto;
    text-align: justify;
}

.detail h1 {
    text-align: left;
    padding: 0;
    margin: 0;
    font-family: 'Fira Sans', sans-serif;
    font-size: 80px;
    width: 130%;
}

.detail h2 {
    margin: 0;
    font-family: 'Fira Sans', sans-serif;
    font-size: 64px;
}

.detail h3 {
    padding: 0 0 80px;
    margin: 0;
    font-family: 'Fira Sans', sans-serif;
    font-size: 32px;
    padding-top: 32px;
}

.detail h4 {
    font-weight: 100;
    padding: 0;
    margin: 0;
    color: #969FAA;
    font-family: 'Fira Sans', sans-serif;
    font-size: 28px;
}

.detail .born,
.search-page .record .born {
    background: url(icons/born.svg) no-repeat;
}

.search-page .record .born {
    color: #47525E;
    font-size: 18px;
    padding-left: 14px;
    background-size: 10px;
    background-position: left;
    font-family: 'Fira Sans', sans-serif;
}

.detail .died,
.search-page .record .died {
    background: url(icons/died.svg) no-repeat;
}

.search-page .record .died {
    color: #47525E;
    font-size: 18px;
    padding-left: 14px;
    background-size: 10px;
    background-position: left;
    font-family: 'Fira Sans', sans-serif;
}

.detail .born,
.detail .died {
    background-size: 16px;
    background-position-y: center;
    padding: 0 0 0 24px;
}

.footer a {
    color: #969FAA;
    display: inline-block;
}

.footer {
    border-top: 1px solid #969FAA;
    justify-content: space-between;
    font-size: 32px;
    text-transform: uppercase;
    font-family: 'Fira Sans', sans-serif;
    color: #969FAA;

    position: fixed;
    background-color: #f2f8ff;
    bottom: 0;
    left: 0;
    padding-top: 24px;
    padding-bottom: 24px;
    width: 100%;
}

.detail .birth-died {
    padding-bottom: 36px;
}

.detail .detail-text {
    text-indent: 50px;
    font-family: 'PT Serif', serif;
    font-size: 32px;
}

.list h1 {
    font-size: 72px;
    font-family: 'PT Serif', serif;
    color: #47525E;
}

.footer .next:hover,
.footer .prev:hover,
.footer .search:hover,
.footer .index:hover {
    cursor: pointer;
}

.footer .prev,
.footer .next {
    float: left;
    width: 40px;
    height: 40px;
}

.footer .index,
.footer .search {
    float: right;
    margin-right: 32px;
}

.footer .prev {
    background-image: url(icons/prev.svg);
    background-repeat: no-repeat;
    margin-left: 24px;
}

.footer .next {
    background-image: url(icons/next.svg);
    background-repeat: no-repeat;
    background-position: right;
}

.list .record:active,
.footer .prev:active,
.footer .next:active,
.footer .search:active,
.footer .index:active {
    background-color: #00A6FF;
    color: white;
}

.footer .prev:active {
    background-image: url(icons/prev_active.svg);
}

.footer .next:active {
    background-image: url(icons/next_active.svg);
}

.footer .index:active {
    background-image: url(icons/back_active.svg);
}

.footer .search:active {
    background-image: url(icons/search_active.svg);
}

.footer .index {
    background-image: url(icons/back.svg);
    background-repeat: no-repeat;
    padding-left: 40px;
    padding-right: 8px;
}

.footer .search {
    background-image: url(icons/search.svg);
    background-repeat: no-repeat;
    padding-left: 40px;
    padding-right: 8px;
}

.search-button {
    position: absolute;
    top: 0;
    left: 0;
}

.search-page {
    width: 760px;
    margin: 0 auto;
}

.search-page .search-input::-webkit-input-placeholder {
    color: #eeeeee;
}

.search-page .search-input {
    height: 40px;
    width: 100%;
    font-size: 40px;
    color: #47525E;
    font-family: 'Fira Sans', sans-serif;
    padding: 0.3em 0.3em 0.3em 20px;
    background: url(icons/search.svg) no-repeat scroll right;
    border: 1px solid #47525E;
}

.search-page .results {
    margin-top: 24px;
}

.search-page {
    padding-top: 160px;
    padding-bottom: 160px;
}

.search-page .record {
    padding: 20px;
}

.search-page .record:hover {
    cursor: pointer;
}

.search-page .record:hover {
    background-color: #eeeeee;
}

.search-page .head {
    font-family: 'Fira Sans', sans-serif;
    font-size: 32px;
    position: relative;
}

.search-page .state {
    font-size: 18px;
    font-weight: 300;
    right: 0;
    position: absolute;
}

